.body_preview {
    background-color: #29166F;
}

.nav_bar {
    background-color: #29166F;
    border-bottom: solid 1px #684bd2;
    border-color: #684bd2;
    overflow: hidden;
    font-family: inherit;
}


.nav_bar a {
    display: block;
    float: left;
    color: white;
    text-align: center;
    font-family: sans-serif, Arial, Helvetica;
    text-decoration: none;
    border-left-color: rgb(211, 14, 14);
    padding: 1em;
}

.nav_bar a:hover {
    background-color: #3d268f;
}

.drop_d {
    float: left;
    overflow: hidden;
}

.drop_d_btn {
    background-color: inherit;
    color: white;
    border: none;
    font-size: inherit;
    font-family: inherit;
}

.drop_d_btn_content {
    display: none;
    position: absolute;
    background-color: inherit;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .drop_d:hover .drop_d_btn {
    background-color: #3d268f;
  }

  .drop_d:hover .drop_d_btn_content {
    display: block;
  }

  .drop_d_btn_content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 1em;
    font-family: sans-serif, Arial, Helvetica;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .drop_d_btn_content a:hover {
    background-color: #cbcbcb;
  }